# === Carpetas pesadas ===
datasets/
reports/

# === Archivos de salida ===
*.csv
*.xlsx
*.json

# === Python cache ===
__pycache__/
*.pyc

# === Entornos virtuales ===
venv/
env/
.venv/

# === Configs locales ===
*.ini
*.log
.DS_Store
